footer.l-footer
	.l-footer__logo
		picture.footer__logo
			a.link(href="/"): img.img(src="" alt="")

	nav.l-footer__nav
		ul.l-footer__nav
			li.item
				a.link(href="/about/") ABOUT
			li.item
				a.link(href="/contact/") CONTACT

	.l-footer__copyright
		p.footer__copyright Copyright(C) 2018 xxxx All Rights Reserved.
