header.l-header
	.l-header__logo
		h1.header__logo
			a.link(href="#"): img.img(src="" alt="")

	nav.l-header__gnav
		ul.header__gnav
			li.item
				a.link(href="/") Top
			li.item
				a.link(href="/") About
